/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
/* inicio barra responsiva */
.navbar {
  background-color: #000000;
}

.collapse {
  display: flex;
  justify-content: end;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  background-color: blueviolet;
}

/* fin barra responsiva */
.carousel-inner img {
  width: 35%;
  height: 15%;
  margin-left: 35%;
  margin-top: 1;
  border-radius: 30px;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.carousel-indicators {
  height: 1;
  width: 5%;
  height: 1%;
  margin-left: 50%;
  border-radius: 30px;
}

.call5 {
  padding: 40px;
  text-align: center;
}

.article {
  height: 50vh;
  color: azure;
}

.container-fluid {
  height: 1;
  /* width: 100%; */
  background-image: url(img/soga.jpg);
  background-size: cover;
  background-position: center;
}

.container-fluid h2 {
  text-shadow: 1px 1px 2px black, 0 0 1em violet, 0 0 0.2em violet;
  color: white;
}

.container-fluid h1 {
  color: white;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
}

/* .container-fluid h2 p{
    height: 50px;
} */
header {
  background-color: black;
  height: 100px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 20px;
}

.logo {
  float: left;
  font-size: 20px;
}

.logo {
  color: white;
}

.logo figure a img {
  width: 80%;
  height: 80%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.logo figure a img {
  width: 135px;
}

.barra {
  float: right;
}

.barra ul li {
  list-style: none;
  display: inline-block;
  /* font-size: small; */
}

.barra a {
  color: white;
  text-decoration: none;
}

.barra a:hover {
  color: rgba(202, 122, 226, 0.945);
}

main {
  height: auto;
  width: auto;
  background-color: black;
  background-image: url(img/discos.jpg);
  background-size: cover;
  background-position: center;
}

main .call2 {
  height: 900px;
  width: auto;
  background-color: black;
  background-image: url(img/salon.jpg);
  background-size: cover;
  background-position: center;
}

main .call3 {
  height: auto;
  width: auto;
  background-color: black;
  background-image: url(img/man-2264825_1280.jpg);
  background-size: cover;
  background-position: center;
}

main .call4 {
  height: auto;
  width: auto;
  background-color: black;
  background-image: url(img/exercise-3899877_1920.jpg);
  background-size: cover;
  background-position: center;
}

main .call5 {
  height: auto;
  width: auto;
  background-color: black;
  background-image: url(img/soga.jpg);
  background-size: cover;
  background-position: center;
}

.call {
  width: 100vh;
  /* border: 2px solid rgba(0, 0, 0, 0.781); */
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  text-align: right;
  font-size: 20px;
}

.call h1 {
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 1px 1px 2px violet;
  /* text-shadow: #ccc 1px 0 10px; */
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.call p {
  color: #fff;
  font-size: 15px;
}

.call2 h1 {
  color: whitesmoke;
  text-shadow: 1px 1px 2px violet;
  width: 100%;
  /* border: 2px solid rgba(0, 0, 0, 0.781); */
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color: #fff; */
  /* float: center; */
  text-align: center;
}

.call2 h2 {
  color: whitesmoke;
  text-shadow: 1px 1px 2px violet;
  width: 100%;
  /* border: 2px solid rgba(0, 0, 0, 0.781); */
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color: #fff; */
  /* float: center; */
  text-align: center;
  font-size: 30px;
}

.call2 ul li {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin-left: 10%;
  margin-right: 12%;
  text-align: left;
  width: 100%;
}

.call3 h1 {
  font-size: 45px;
  width: 100%;
  /* border: 2px solid rgba(0, 0, 0, 0.781); */
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  text-shadow: 1px 1px 2px violet;
  float: center;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  height: 50%;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.call3 p {
  font-size: 150%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

.call3 h2 {
  color: whitesmoke;
  text-shadow: 1px 1px 2px violet;
  width: 100%;
  height: 100%;
  /* border: 2px solid rgba(0, 0, 0, 0.781); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  float: center;
  font-size: 200%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center;
}

.call3 h3 {
  margin-left: 2%;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 300%;
  color: violet;
}

.call5 {
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
  padding: 15px;
  font-display: 0;
}

.call6 {
  width: 450px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 600px;
  height: 150x;
  backdrop-filter: blur(10px);
  border: dashed gold;
  background-image: url(img/oro.jpg);
  padding: 10px;
}

.call7 {
  width: 450px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 900px;
  height: 150x;
  backdrop-filter: blur(10px);
  border: dashed silver;
  padding: 10px;
  background-image: url(img/plata2.jpg);
}

.call8 {
  width: 450px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 550px;
  height: 150x;
  backdrop-filter: blur(10px);
  border: dashed brown;
  padding: 10px;
  background-image: url(img/bronce2.jpg);
}

main .call9 {
  height: auto;
  width: auto;
  background-color: black;
  background-image: url(img/anillos1.jpg);
  background-size: cover;
  background-position: center;
}

.call9 {
  color: whitesmoke;
  text-shadow: 1px 1px 2px violet;
  padding: 10px;
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
}

.call9 table td:first-child {
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
}

.call9 table td:last-child {
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
}

.call9 table th:first-child {
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
}

.call9 table th:last-child {
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
}

.call10 {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 10px 10px;
  border-radius: 20px;
  width: 80%;
  height: 80%;
  margin-left: 40%;
}

.caja10 {
  align-items: center;
  align-content: center;
  text-align-last: center;
  text-align: center;
  width: 80%;
  height: 80%;
}

.input-group {
  text-align: center;
  width: 80%;
  height: 80%;
}

label {
  color: rgba(255, 255, 255, 0.836);
  font-size: 15px;
  font-weight: 600;
  width: 80%;
  height: 80%;
  align-items: center;
  align-content: center;
  text-align: center;
}

input, textarea {
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #edfff0;
  border: 2px solid #edfff0;
  color: black;
  outline: none;
  width: 80%;
  height: 80%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.form-txt {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80%;
}

.form-txt a {
  color: azure;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  height: 80%;
}

.btn {
  font-size: 16px;
  cursor: pointer;
  width: 80%;
  height: 80%;
}

.btn:hover {
  background-color: rgba(247, 247, 112, 0.938);
}

.call9 h1 {
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
}

.call9 h4 {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
}

.call3 {
  color: white;
}

.call3 li {
  font-size: 150%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
}

.call3 ul {
  font-size: 200%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
}

.call p {
  margin-bottom: 15px;
}

.call5 p {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.call2 p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin-left: 10%;
  margin-right: 15%;
}

.call4 h1 {
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(209, 96, 209);
  width: 50%;
  /* border: 2px solid rgba(0, 0, 0, 0.781); */
  padding: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color: #fff; */
  float: center;
  font-size: 50px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.call4 {
  color: white;
  font-size: 20px;
  overflow-x: auto;
}

.call4 table th {
  font-size: 23px;
  color: rgba(250, 127, 250, 0.945);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  overflow-x: auto;
}

.call4 table td {
  font-size: 18px;
  padding: 2px;
  overflow-x: auto;
}

h1 {
  margin-bottom: 25px;
}

.call a {
  background-color: rgb(233, 174, 228);
  /* background-color: black; */
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: black;
  /* color: white; */
  float: right;
  margin: 20px;
  border-radius: 2px;
  padding: 12px;
}

.call a:hover {
  color: black;
}

video {
  width: 50%;
  margin-left: 20%;
  display: grid;
}

/* inicio footer */
.pie-pagina {
  width: 100%;
  background-color: black;
  padding: 20px;
}

.pie-pagina .grupo-1 .box i {
  align-items: center;
}

.pie-pagina .grupo-1 .box i:hover {
  color: violet;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 30px;
}

.pie-pagina .grupo-1 .box li {
  color: #efefef;
  margin-bottom: 10%;
}

.pie-pagina .grupo-1 .box .redes a {
  letter-spacing: 10px;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 20px;
  text-align: center;
  font-size: 25px;
}

@media screen and (max-width: 750px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
.what {
  height: 35px;
  width: 35px;
  background-color: springgreen;
  position: fixed;
  right: 35px;
  bottom: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 30px;
}

.what a {
  color: #fff;
}

.footer a:hover {
  color: blueviolet;
}

/*# sourceMappingURL=estilo.css.map */
